#heading {
    background-color: #3d4047;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
}

#search {
    margin-left: 15px;
    background-color: #dadce0;
    float: left;
}


#button-addon2 {
    background-color: #3d7eff;
    color: white;
}

html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 100%;
}

#middle {
    margin-bottom: 0;
}

.container {
    margin: 0px;
}

#answer {
    margin-top: 15px;
    height: 330px;
    margin-left: 10px;
}

.card-deck{
    width: 1050px;
    height: 260px;
    margin-left: 10px;
}

.list-group-item {
    font-size: 20px;
}

#forecastcards {
    background-color: #3d7eff;
    color: white;
}

h2 {
    margin-left: 30px;
    margin-top: 25px;
}

body {
    /* font-family: "Jazz LET", "Blippo", "Stencil Std", "Marker Felt"; */
    font-family: 'Montserrat', sans-serif;
}

h3 {
    margin-top: 15px;
}

h1 {
    margin-top: 10px;
}

h4 {
    font-size: 20px;
}


#one, #two, #three {
    margin-left: 8px;
    margin-top: 15px;
}
